/*styling for navbar*/
.search-form{
	
	width:40%;
}
.cart-button{
	 width:100px;
}
@media (min-width: 768px){

.search-form{
	min-width:290px;}

}

@media(max-width:767px){

.login-button{
	width:100px;}
ul.navbar-nav li:nth-child(2){order:3;}

}

/*styling for first row*/
.first-row {
	margin-top: 75px;
}
.first-row a{
	text-decoration: none;
	color: #2874f0;
    font-weight: 500;
}
.first-row .dropdown, .first-row .dropdown-item{
    color: #2874f0;
    font-weight: 500;
}

/* Styling for second row */
.carousel {
  margin-bottom: 1rem;
  margin-top:1rem;
}

.carousel-item {
  height: 18rem;
}

/*styling for third row*/

.third-row .btn{
	font-weight: 500;
}
.third-row .first-column .card-body{
overflow-x:hidden;	
}
.third-row .first-column .discounted-item{
	cursor: pointer;
}
.third-row .discounted-item .image-box{
	height:175px;
	width:175px;
}
.third-row .discounted-item .image-box>img{
	height: 100%;
	width:100%;
}
.third-row .second-column{
	min-width:230px;
	height: 353px;

}
.third-row .second-column .image-box{
	height: 100%;
}


.third-row .second-column .image-box>img{
	width:100%;
	height:100%;
}

.third-row .scrollspace{
	position: absolute;
	height:100%;
	width:40px;
}
.third-row .scrollspace:nth-child(2){
	right:0;

}
.third-row .icon-box{
	height:50px;
	box-shadow: 1px 2px 10px -1px;
	background-color:hsla( 0 ,0%, 100%, .98);
}