/*styling for navbar*/
.search-form{
	
	width:40%;
}
.cart-button{
	 width:100px;
}
@media (min-width: 768px){

.search-form{
	min-width:290px;}

}

@media(max-width:767px){

.login-button{
	width:100px;}
ul.navbar-nav li:nth-child(2){order:3;}

}

/*styling for first row*/
.first-row {
	margin-top: 75px;
}
.first-row a{
	text-decoration: none;
	color: #2874f0;
    font-weight: 500;
}
.first-row .dropdown, .first-row .dropdown-item{
    color: #2874f0;
    font-weight: 500;
}

/* Styling for second row */
.carousel {
  margin-bottom: 1rem;
  margin-top:1rem;
}

.carousel-item {
  height: 18rem;
}

/*styling for third row*/
.third-row .btn{
	font-weight: 500;
}
/*.third-row .inner-row{
	height:15rem;

}
.third-row .{
	height:15rem;*/
}
.third-row .inner-row>div{
	cursor: pointer;
}